<div class="form-group">
  <form>
    <div class="mb-3">
      <input
        type="email"
        placeholder="Email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="input-group mb-3" style="border: none;">
        <input
            [type]="passwordVisible ? 'text' : 'password'"
            class="form-control"
            placeholder="Senha"
            id="exampleInputPassword1"
            [(ngModel)]="password"
            name="password"
            required
        />
        <button
            type="button"
            class="input-group-text"
            (click)="togglePasswordVisibility()"
        
        >
            <i class="bi" [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
        </button>
    </div>
    
    <button style="width: 100%" type="submit" class="btn btn-primary" (click)="onSubmit()">Entrar</button>
  </form>
</div>
